/* Style.css */

/* Page format 
.mainpage {
    background-color: black;
}

.subpage {
    background-color: aquamarine;
}
*/

/* main page text color and format */
.title,
.subtitle {
    color: white;
    font-weight: bold;
}

.title {
    font-size: 32px;
}

.subtitle {
    font-size: 24px;
}

/* Dungeon and Raid List format */
ul.a,
ul.b {
    list-style-type: circle;
    font-size: 16px;
    padding: 5px;
    margin-left: 35px;
}

ul.a {
    color: white;
}
  
ul.b {
    color: whitesmoke;
}

